.noir {
    background-color: rgb(58, 58, 58);
}

.title {
    font-size: 2rem;
    text-align: center;
    font-weight: bold;
    color: #fffa65;
}

.titlePart {
    font-size: 1.8rem;
    text-align: center;
    font-weight: bold;
    color: #fffa65;
}

.header {
    padding: 15px;
    display: flex;
}

.row {
    text-align: right;
    color: white;
    font-weight: bold;
    font-size: 2rem;
    display: flex;
    justify-content: right;
}

.frapper {
    text-align: right;
}

.people {
    color: #fffa65;
    font-size: 300%;
    padding-top: 200px;
}

.grid {
    color: white;
    font-weight: bold;
}

.first {
    color: #fffa65;
    font-size: 150%;
}

.bas {
    border-bottom: 1px solid white;
}